* {
  font-family: 'Playfair Display', serif;
}

h1, h2 {
  color: #405879;
  font-family: 'Archivo', sans-serif;
}


.display {
  display: none;
}

.container {
  width: 75%;
  margin-left: 15%;
}

.box {
  cursor: pointer;
  font-size: 18px;
  width: 60%;
}

#quiz-container p:hover {
  background-color: #2ec4b6;
  opacity: .8;
}

#timer {
  position: absolute;
  text-align: end;
  top: -15px;
  right: 15px;
  color: green;
  font-size: 25px;
}

#quiz-info,
#high-scores {
  text-align: center;
}

#quiz-info h1,
#enter-score h2 {
  font-size: 45px;
  margin-top: 5%;
}

#quiz-info p {
  font-size: 20px;
}

#start-button {
  position: relative;
  font-size: 20px;
  margin-top: 10px;
}

#quiz-container h3,
#high-scores h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}


#enter-score {
  padding-left: 35%;
}

#high-scores h1 {
  font-size: 35px;
}

#list-scores {
  padding: 0;
}

#view-scores {
  color: #2ec4b6;
  cursor: pointer;
}

#submit, #start-button, #play-again, #clear-scores {
  background-color: #405879;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
}

#clear-scores {
  background-color: #2ec4b6;
  color: #405879;
}

#answers {
  width: 30%;
  position: relative;
  left: 15%;
  padding-left: 15%;
}