h1 {
  color: blueviolet;
}

.display {
  display: none;
}

.container {
  width: 75%;
  margin-left: 15%;
}
#timer {
  position: absolute;
  text-align: end;
  top: 0px;
  right: 10px;
}

#quiz-info {
  text-align: center;
}

#quiz-info h1 {
  font-size: 45px;
  margin-top: 5%;
}

#quiz-info p {
  font-size: 20px;
}

#start-button {
  position: relative;
  font-size: 20px;
  margin-top: 10px;
}
